---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -concurrency-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -zircon-*,
        -readability-*,
        -hicpp-braces-around-statements,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -modernize-use-trailing-return-type,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
