[submodule "eigen"]
	path = 3rdparty/eigen
	url = https://gitlab.com/libeigen/eigen.git

[submodule "libigl"]
	path = 3rdparty/libigl
	url = https://github.com/libigl/libigl.git

[submodule "3rdparty/tinyobjloader"]
	path = 3rdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
